{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block title %}
    <title>West Library</title>
    {% endblock %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% bootstrap_css %}
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>

    <div class="d-flex min-vh-100">
        <aside   class="p-3" style="width:260px; background-color: var(--bs-body-bg);" data-bs-theme="dark">
          {% block sidebar %}
          <h5 class="mb-4 text-white">Menu</h5>
          <ul class="nav nav-pills flex-column gap-2">
            <li class="nav-item"><a class="nav-link text-white rounded-0" href="{% url 'index' %}">Inicio</a></li>
            <li><a class="nav-link text-white rounded-0" href="{% url "books" %}">Livros</a></li>
            <li class="nav-item"><a class="nav-link text-white rounded-0" href="{% url "authors" %}">Autores</a></li>

            {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link text-white rounded-0" href="{% url 'my-borrowed' %}">Meus empréstimos</a></li>
              <li class="nav-item text-white"><a class="nav-link text-white rounded-0">User: {{ user.get_username }}</a></li>

              {% if perms.catalog.can_mark_returned %}
                <li class="nav-item text-white"><a class="nav-link text-white rounded-0" href="{% url "all-borrowed" %}">Livros emprestados</a></li>
              {% endif %}
              <li>
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-danger">Sair</button>
                </form>
              </li>              
            {% else %}
              <li class="nav-item text-white"><a class="btn btn-outline-success" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
          </ul>
          {% endblock %}
        </aside>
        <main class="flex-fill p-4">
          {% block content %}{% endblock %}

          {% block pagination %}
            {% if is_paginated %}
              <div class="pagination">
                <span class="page-links">
                  {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
                </span>
              </div>
            {% endif %}
          {% endblock %}
        </main>
    </div>
  </body>
</html>
